* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* .top-nav1 {
  width: fit-content;
  margin: auto;
} */
.top-nav2 {
  width: 100vw !important;
}
.square {
  border-radius: 0px;
}
.jumbotron {
  padding: 3rem 1rem;
  margin-bottom: 0rem;
  border-radius: 0rem;
  color: white;
  -webkit-box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.58);
  /* background: #4339ff; */
  background-image: linear-gradient(
    to right bottom,
    #2e47ff,
    #3f42ff,
    #4d3cff,
    #5a36ff,
    #652eff
  );
}
/* .menu {
  display: flex !important;
} */
#right {
  margin-right: 0% !important;
}

#icon {
  margin-right: 5px !important;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-preview {
  width: 50% !important;
  height: 50% !important;
  background: rgb(219, 219, 219);
}

.flex-box {
  display: flex !important;
  justify-content: flex-start;
}
.description {
  margin-left: 10% !important;
}
.wide {
  width: 70vw !important;
}
.wide1 {
  border-radius: 5px;
  box-shadow: 7px 5px 15px 2px rgba(0, 0, 0, 0.12);
}
.wide1:hover {
  box-shadow: 7px 8px 15px 5px rgba(0, 0, 0, 0.39);
}
.d-flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.d-1 {
  width: 80vw !important;
}

.course-card {
  width: 90% !important;
  box-shadow: 7px 5px 15px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  border-left: 5px solid white;
}
.course-card1 {
  /* width: 80% !important; */
  border-radius: 4px;
  border-left: 5px solid white;
}
.course-card:hover {
  box-shadow: 7px 8px 15px 5px rgba(0, 0, 0, 0.39);
  border-left: 5px solid #2a41e8 !important;
  background: rgba(0, 0, 0, 0.05) !important;
}
.course-card1:hover {
  border-left: 5px solid #2a41e8 !important;
  background: rgba(0, 0, 0, 0.05) !important;
}
.p-icon {
  width: 50px !important;
  height: 50px !important;
}

.avatar-course {
  margin: auto !important;
}
.btn-style:hover,
.btn-style1:hover {
  background: #2a41e8 !important;
  transition: 120ms ease-in-out;
  color: white !important;
}

.btn-style {
  border: 2px solid #2a41e8 !important;
  font-size: 15px;
  color: #2a41e8 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-style1 {
  border: 2px solid #2a41e8 !important;
  font-size: 15px;
  color: #2a41e8 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: white !important;
}
.btn-style1:active {
  background: #2a41e8 !important;
  color: white !important;
}

.ad-sidebar {
  background: black !important;
}

.progressbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.display_flex {
  display: flex;
  justify-content: center;
}
.display_flex_ {
  display: flex;
  align-items: center;
}

.top-nav1 li {
  color: black !important;
}

.top-nav-op .ant-menu-item-selected {
  /* background-color: #b039cc !important; */
  border-bottom: 3px solid black !important;
}
.top-nav-op .ant-menu-item-selected span {
  border-bottom: none !important;
  color: black !important;
}
.top-nav-op .ant-menu-item-selected span a {
  color: black !important;
}
.top-nav-op .ant-menu-item-active span a {
  color: black !important;
}

.top-nav-op .ant-menu-submenu-open span {
  color: black !important;
}

.top-nav-op .ant-menu-item::after {
  display: none !important;
}
.top-nav-op .ant-menu-submenu::after {
  display: none !important;
}
.top-nav-op .ant-menu-submenu-active span {
  color: black !important;
}
.top-nav-op .ant-menu-item-group-list .ant-menu-item-active {
  color: black !important;
}
.top-nav-op .ant-menu-submenu-active {
  background: rgba(0, 0, 0, 0.05) !important;
}
.top-nav-op .ant-menu-item-active {
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.05) !important;
}
.top-nav-op .ant-menu {
  -webkit-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.22);
  margin-bottom: 50px !important;
}

.shape {
  color: #202030;
  z-index: 5;
}

.instructor-box {
  font-size: 2rem;
  width: 80%;
  max-width: 400px;
  background-color: #d5d6db;
  padding: 10px;
}
.getting-started {
  -webkit-box-shadow: 0px 8px 15px -5px #2e47ff;
  box-shadow: 0px 8px 15px -5px #2e47ff;
}
.ant-menu-item-icon {
  color: black !important;
  height: 20px !important;
  width: 20px !important;
}
.how-can-we-help {
  transition: 300ms ease-in-out;
  width: 30%;
}
.how-can-we-help-1 {
  width: 40%;
  transition: 300ms ease-in-out;
}
.how-can-we-help:hover {
  transform: translateY(-10px);
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 3px 4px 20px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 4px 20px 5px rgba(0, 0, 0, 0.54);
}
.how-can-we-help-1:hover {
  transform: translateY(-10px);
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 3px 4px 20px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 4px 20px 5px rgba(0, 0, 0, 0.54);
}

.ant-avatar-circle {
  margin: auto !important;
}
.footer-link {
  text-decoration: none;
  color: white !important;
}
.footer-link:hover {
  color: #05ffe5 !important;
}

#social-icon {
  height: 50px;
  width: 50px;
}

#social-icon:hover {
  color: #a9c1f1 !important;
}
.support-email:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 0px 8px 15px -5px #2e47ff;
  box-shadow: 0px 8px 15px -5px #2e47ff;
  border: 2px solid #202050;
}
/* .course-index:hover {
  transform: translateY(-4px);
  transition: 100ms ease-in-out;
  -webkit-box-shadow: 5px 5px 15px 9px #000000;
  box-shadow: 5px 5px 15px 9px #000000;
}

.course-index {
  -webkit-box-shadow: 5px 5px 8px -4px #000000;
  box-shadow: 5px 5px 8px -4px #000000;
} */

.select-school:hover {
  border-color: #ced4da !important;
}

.flex-fix {
  display: flex;
}
@media (max-width: 1000px) {
  .flex-fix {
    flex-direction: column;
  }
  .how-can-we-help,
  .how-can-we-help-1 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.index_username div {
  margin: 0;
  color: white;
}
.index_username {
  background-color: #2e47ff;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 3vh;

  -webkit-box-shadow: 0px 2px 27px 15px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 2px 27px 15px rgba(0, 0, 0, 0.27);
}

.footer-content {
  background-color: tomato;
  width: 85vw;
}
.landing_subscription {
  border: 2px solid black;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #ababab;
  transition: 400ms ease-in-out;
  padding: 10px;
}
.landing_subscription:hover {
  border: 2px solid black;
  -webkit-box-shadow: 8px 14px 25px 0px rgba(0, 0, 0, 0.68);
  box-shadow: 8px 14px 25px 0px rgba(0, 0, 0, 0.68);
  transition: 400ms ease-in-out;
  transform: translateY(-10px);
}

@media (max-width: 1000px) {
  .landing_subscription {
    width: 95%;
    margin: auto;
  }
}

.forms {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5vh;
}
.forms:hover {
  background-color: #ecf3ff;
}
.features {
  margin-top: 50px !important;
}
.feature1 {
  transition: 200ms ease-in-out;
}
.feature1:hover {
  background-color: #2e47ff !important;
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 9px 27px -2px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 9px 27px -2px rgba(0, 0, 0, 0.72);
  transition: 200ms ease-in-out;
}
